<div class="col-12 col-md-3">
  <div class="card my-card">
    <div class="card-image" style="background-image: url(<%= url_for picture_for(listing) %>); height: 200px; border-radius: 10px;"></div>
      <h5 class="card-title"><%= listing.title %></h5>
        <p class="card-text"><%= listing.description %></p>
        <p>Price: <%= number_to_currency(listing.price) %></p>
        <% if user_signed_in? %>
          <% unless can? :edit, listing %>
            <%= link_to 'ADD TO CART', carts_path(listing_id: listing.id), method: :post, class: 'success-btn' %>
          <% end %>
        <% end %>
        <% if can? :edit, listing %>
          <%= link_to "Edit", edit_listing_path(listing.id), class: 'edit-btn' %>
          <%= link_to "Delete", listing_path(listing.id), method: :delete, class: 'danger-btn' %>
        <% end %>
        <%# <%= link_to "Back", listings_path, class: 'back-btn'  %>
    
    </div>
</div>



