<%= form_for(@listing) do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, required: true, autofocus: true, placeholder: "Enter listing name" %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :category_id %><br>
    <%= form.text_field :category_id, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.number_field :price, required: true %>
  </p>

  <div class="custom-file">
    <%= form.label :picture, class: 'custom-file-label' %><br>
    <%= form.file_field :picture, class: 'custom-file-input', id: 'customFile' %>
  </div>

  <p>
    <%= form.submit class: 'btn btn-success my-2' %>
  </p>
<% end %>

