<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>
<% @listings.each do |listing| %>
<p>Price: <%= number_to_currency(@listing.price / 100.0)</p> %>
<p>
  <%= link_to "Edit", edit_listing_path(listing) %> |
  <%= link_to "Delete", destroy_user_session_path(listing), method: :delete, data: {confirm: "Are you sure?"} %>
  <%= button_to "Add #{listing.title} to cart", cart_listings_path(:listing_id => listing.id) %>
 </p>
 <% end%>
<%= link_to "New listing", new_listing_path

<%= javascript_pack_tag "stripe" %>