<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>



<div class="card-image" style="background-image: url(<%= asset_path 'red-pop.jpg' %>); height: 200px; border-radius: 10px;"></div>


<div class="col-md-8">
  <h1><%= @listing.title %></h1>
    <p><%= @listing.description %></p>
    <p>Price: <%= number_to_currency(@listing.price) %></p>

        <div class="col-md-8">
        <% if user_signed_in? %>
          <% unless can? :edit, @listing %>
            <%= link_to 'ADD TO CART', carts_path(listing_id: @listing.id), method: :post, class: 'success-btn' %>
          <% end %>
        <% end %>
        <% if can? :edit, @listing %>
          <%= link_to "Edit", edit_listing_path(@listing.id), class: 'edit-btn' %>
          <%= link_to "Delete", listing_path(@listing.id), method: :delete, class: 'danger-btn' %>
        <% end %>
        <%= link_to "Back", listings_path, class: 'back-btn' %>
      </div>
</div>





 



















