<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= asset_path 'chi.jpg' %>); height: 100vh;">
  <div class="row my-row">
    <% @listings.each do |listing| %> 
    <%= render 'card', listing: listing %>
    <% end %>
  </div>
</div>

<div class="col-md-8">
  <h1><%= @listing.title %></h1>
    <p><%= @listing.description %></p>
    <p>Price: <%= number_to_currency(@listing.price) %></p>
      <% if user_signed_in? %>
      <% if current_user.admin == true then @location %>
      <%= link_to "Add to cart", carts_path(:listing_id => @listing.id), class: 'success-btn' %>
      <%= link_to 'Edit', edit_listing_path(@listing), class: 'edit-btn'%>
      <%= link_to 'Delete', listing_path(@listing), method: :delete, class: 'danger-btn', data: { confirm: "Really delete #{@listing.title}"} %>
     <% end %>
    <% end %>
   <%= link_to 'Back', listings_path, class: 'back-btn' %> 
</div>





 



















